/* CSS Document */
@media only screen and (max-width: 1280px){

.menu-slider .menu-region .menu li a{
	padding: 0px 4px;
}

.view-imagen-top .views-row .views-field-field-imagen-top {
    height: auto;
}

.view-imagen-top .views-row .views-field-field-frase-superior {
    margin-top: -4px;
}

}