@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/**{
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease; 	
}*/



/* HEADER */
.header{
	height: 115px;
	background-color: #000000;
}
.header #logo{
	overflow: hidden;
	float: left;
	margin-top: 15px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 	
}
.header #logo:hover{
	transform: scale(0.9);
}
.header #block-block-1{
	float: right;
}
.header #block-block-1 .bloque-contact-info-header{
	float: left;
	padding: 7px 0px;
	border-bottom: 1px solid #B8B8B8;
}
.header #block-block-1 .bloque-contact-info-header,
.header #block-block-1 .bloque-contact-info-header a{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;	
	color: #B8B8B8;
}
.header #block-block-1 .bloque-contact-info-header span{
	display: block;
	float: left;
	line-height: 25px;
}
.header #block-block-1 .bloque-contact-info-header a.fb-header{
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('../images/fb_top.png');
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 10px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 	
}
.header #block-block-1 .bloque-contact-info-header a.fb-header:hover{
	transform: translateY(-3px);
}
.header #block-block-1 .bloque-contact-info-header a.yt-header{
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('../images/yt_top.png');
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	margin-left: 4px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 	
}
.header #block-block-1 .bloque-contact-info-header a.yt-header:hover{
	transform: translateY(-3px);
}
.menu-slider{
	position: relative;
}
.menu-slider .menu-region{
	width: 100%;
	position: absolute;
	top: 0px;
	background-image: url('../images/bg_black.png');
	background-repeat: repeat;
	z-index: 100;
	/*height: 45px;*/
}
.menu-slider .menu-region .menu{
	text-align: center;
}
.menu-slider .menu-region .menu li{
	margin: 0px; padding: 0px;
	display: inline-block;
	margin-right: 15px;
}
.menu-slider .menu-region .menu li.last{
	margin-right: 0px;
}
.menu-slider .menu-region .menu li a{
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 45px;
	padding: 0 15px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 		
}
.menu-slider .menu-region .menu li a:hover{
	color: #BE242A;
}
.flexslider{
	margin: 0px;
	background: none;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 30px;
}
.flex-control-nav{
	width: 100px;
	height: 33px;
	bottom: 0px;
	background-image: url('../images/bg_black.png');
	background-repeat: repeat;
	z-index: 100;
	margin: 0 auto;
	left: 0;
	right: 0;	
}
.flex-control-paging li a{
	width: 16px;
	height: 16px;
	background-color: #FFFFFF;
	line-height: 30px;
	margin-top: 8px;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active{
	background-color: #BE242A;
}
.flex-direction-nav{
	position: absolute;
	width: 1000px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	top: 50%;
}
.flex-direction-nav a:before{
    content: '';
    margin-left: 100px;
    height: 70px;
}
.flex-direction-nav a{
	display: block;
	width: 68px;
	height: 68px;
	overflow: hidden;
    text-indent: 100%;
    white-space: nowrap
}
.flex-direction-nav .flex-prev{
	background-image: url('../images/prev_slider.png');
}
.flex-direction-nav .flex-next{
	background-image: url('../images/next_slider.png');
}
.flex-caption{
	position: absolute;
	width: 750px;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	top: 30%;
}
.flex-caption .mostrar-caption-0{
	display: none;
}
.flex-caption .caption{
	width: 65%;
	height: 233px;
	background-image: url('../images/bg_black.png');
	padding: 20px 15px;
	position: relative;
}
.flex-caption .caption .caption-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 34px;
	font-weight: 300;
	color: #FFF;
	line-height: 39px;
}
.flex-caption .caption .caption-text span{
	font-weight: 600;
}

.flex-caption .caption .caption-link{
	clear: both;
	margin-top: 10px;
}
.flex-caption .caption .caption-link a{
	display: block;

	position: absolute;
	bottom: 10px;

	width: 190px;
	height: 50px;
	background-color: #BE242A;
	border-radius: 30px;

	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	line-height: 48px;	

	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 
}
.flex-caption .caption .caption-link a:hover{
	transform: scale(0.9);
}

.view-imagen-top{
	position: relative;
	overflow: hidden;
	clear: both;
}
.view-imagen-top .views-row .views-field-field-imagen-top{
	text-align: center;
	width: 100%;
	height: 200px;
	float: left;
	clear: both;
}
.view-imagen-top .views-row .views-field-field-frase-superior{
	background-color: #BA272D;
	min-height: 70px;
	width: 100%;
	float: left;
	clear: both;	
}
.view-imagen-top .views-row .views-field-field-frase-superior .field-content{
	width: 1000px;	
	max-width: 1000px;
	float: none;
	margin: 0 auto;
	overflow: hidden;

	text-align: center;
	padding: 20px 0px;
}
.view-imagen-top .views-row .views-field-field-frase-superior .field-content p{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFF;
	line-height: 25px;
	margin: 0px;
	letter-spacing: 1px;	
}
.view-imagen-top .views-row .views-field-field-imagen-logo{
	position: absolute;

	width: 1000px;	
	max-width: 1000px;
	float: none;
	margin: 0 auto;

	right: 0px;
	left: 0px;
	top: 35%;

	overflow: hidden;
}
/****************/


/* BREADCRUMB */

.above-content #block-easy-breadcrumb-easy-breadcrumb{
	padding: 30px 0px;
}
.above-content #block-easy-breadcrumb-easy-breadcrumb .easy-breadcrumb .easy-breadcrumb_segment{
	color: #4D4D4D;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 15px;
	border-radius: 20px;
}
.above-content #block-easy-breadcrumb-easy-breadcrumb .easy-breadcrumb span.easy-breadcrumb_segment-separator{

}
.above-content #block-easy-breadcrumb-easy-breadcrumb .easy-breadcrumb a.easy-breadcrumb_segment{
	background-color: #DFDFDF;
}
.above-content #block-easy-breadcrumb-easy-breadcrumb .easy-breadcrumb span.easy-breadcrumb_segment{
	background-color: #C5C5C5;
}
/*************/

/* GENERAL */
.main h1#page-title{
	font-family: 'Open Sans', sans-serif;
	font-size: 33px;
	font-weight: 700;
	text-transform: uppercase;	
	color: #BE242A;
	margin-top: 0px;
}
.node-type-servicio h1,
.page-node-24 h1{
	padding-bottom: 10px;
	border-bottom: 1px solid #BE242A;
}

body{
	background-color: #EBEBEB;
}
.main h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;		
	color: #414042;
	border-bottom: 1px solid #BE242A;
	padding-bottom: 10px;

}

.main p,
.main ul li{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;	

}
.main ul{
	padding-left: 30px;
}




#block-views-productos-taxonom-a-block-1 .view-header h2{
	color: #BE242A;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;	
	padding-bottom: 0px;
}


#block-views-productos-taxonom-a-block-1 .view-content{
	clear: both;
	overflow: hidden;
	margin-bottom: 60px;
}
#block-views-productos-taxonom-a-block-1 .view-content .views-row{
	width: 175px;
	float: left;
	margin-right: 30px;
}
#block-views-productos-taxonom-a-block-1 .view-content .views-row .views-field-name a{
	display: block;
	color: #4D4D4D;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 10px 0px;	
}
#block-views-productos-taxonom-a-block-1 .view-content .views-row .views-field-description p{
	line-height: 19px;
}
#block-views-productos-taxonom-a-block-1 .view-content .views-row.views-row-last{
	margin-right: 0px;
}




/*********************/


/* SIDEBAR */

.view-bloques-sidebar .views-row{
	position: relative;
	overflow: hidden;
	width: 348px;
	height: 232px;
	margin-bottom: 20px;
}
.view-bloques-sidebar .views-row .bloque-sidebar-home{
	position: absolute;

	bottom: 0px;
	width: 100%;
	height: 100px;
	background-image: url('../images/bg_black.png');
	padding: 20px;
}
.view-bloques-sidebar .views-row .bloque-sidebar-home a{
	display: block;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;

	font-weight: 300;
	text-transform: uppercase;
	color: #FFF;
	background-image: url('../images/next_slider.png');
	background-repeat: no-repeat;
	background-size: 34px;
	background-position: 95% 50%;

}
.view-bloques-sidebar .views-row .bloque-sidebar-home a p{
	margin: 0px;
	line-height: 32px;
}


.view-bloques-sidebar.view-display-id-block_1 .views-row{
	top: 0px;
	height: 185px;
	margin-bottom: 40px;
}
.view-bloques-sidebar.view-display-id-block_1 .views-row .bloque-sidebar-interno{
	position: absolute;
	top: 0px;
	padding: 20px;
	width: 100%;
}
.view-bloques-sidebar.view-display-id-block_1 .views-row .bloque-sidebar-interno .bloque-sidebar-link a{
	display: block;
	width: 180px;
	height: 55px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	line-height: 55px;
	text-transform: uppercase;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 40px;
	background-image: url('../images/icon_vermas.png');
	background-repeat: no-repeat;
	background-position: 92% 50%;
	background-size: 25px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 
	margin: 0 auto;
	margin-top: 15px;
}
.view-bloques-sidebar.view-display-id-block_1 .views-row .bloque-sidebar-interno .bloque-sidebar-link a:hover{
	background-color: #FFF;
	color: #BA272D;
	background-position: 110% 50%;
}

.view-bloques-sidebar.view-display-id-block_1 .views-row .bloque-sidebar-interno .bloque-sidebar-titulo a{
	display: block;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;

	font-weight: 300;
	text-transform: uppercase;
	color: #FFF;
	text-align: left;
}
.view-bloques-sidebar.view-display-id-block_1 .views-row .bloque-sidebar-interno .bloque-sidebar-titulo a p{
	margin: 0px;
	line-height: 38px;
}



/* SERVICIOS */

.view-servicios .views-row{
	width: 315px;
	margin-right: 20px;
	float: left;
	margin-bottom: 20px;
}
.view-servicios .views-row:nth-child(3n){
	margin-right: 0px;
}

.view-servicios .views-row .views-field-title{
	clear: both;
	margin-top: 15px;
	margin-bottom: 15px;
}
.view-servicios .views-row .views-field-title a{
	color: #414042;
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	line-height: 25px;
	font-weight: 300;
	text-transform: uppercase;	
}

.view-servicios .views-row .views-field-title a span{
	font-size: 21px;
}

.view-servicios .views-row .views-field-body{
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: normal;	
}
.view-servicios .views-row .views-field-field-imagen-logo{
	position: relative;
	width: 310px;
	background-image: url('../images/bg_black.png');
	padding: 5px;
	margin-top: -63px;
	z-index: 99;
}
.view-servicios .views-row .views-field-path{
	clear: both;
	margin-top: 30px;
}
.view-servicios .views-row .views-field-path a{
	display: block;
	width: 110px;
	height: 37px;
	background-color: #BE242A;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 37px;
	border-radius: 30px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 		
}
.view-servicios .views-row .views-field-path a:hover{
	background-color: #d83439;
	transform: translateX(5px);
}

.field-name-field-beneficios .field-label{
	color: #414042;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 20px 0px;
}

.field-name-campo-solicite-informacion{
	width: 100%;
	clear: both;
	margin-top: 50px;
}
#block-views-productos-taxonom-a-block-1 .view-footer,
.solicite-informacion-field{
	width: 100%;
	clear: both;
	border-bottom: 1px solid #BE242A;
}
#block-views-productos-taxonom-a-block-1 .view-footer .ver-todos-productos-home,
.solicite-informacion-field .solicite-info-boton{
	background-color: #EBEBEB;
	padding-left: 20px;
	float: right;
}

#block-views-productos-taxonom-a-block-1 .view-footer .ver-todos-productos-home a,
.solicite-informacion-field .solicite-info-boton a{
	display: block;
	height: 31px;
	float: right;
	margin-top: -30px;
	padding: 0px 15px;
	background-color: #BE242A;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 31px;
	border-radius: 25px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 
}
#block-views-productos-taxonom-a-block-1 .view-footer .ver-todos-productos-home a:hover,
.solicite-informacion-field .solicite-info-boton a:hover{
	background-color: #d83439;
	transform: translateX(5px);	
}

/***************/


/* DOCUMENTOS */

.view-documentos{

}
.view-documentos .views-row{
	clear: both;
	margin-bottom: 50px;
}
.view-documentos .views-row .views-field-title a{
	color: #414042;
	font-family: 'Open Sans', sans-serif;
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 20px 0px;
}
.view-documentos .views-row .views-field-body{
	
}
.view-documentos .views-row .views-field-field-documento .descargar-archivo{
	width: 100%;
	clear: both;
	border-bottom: 1px solid #6D6E71;
	margin-top: 25px;
}
.view-documentos .views-row .views-field-field-documento .descargar-archivo-boton{
	background-color: #EBEBEB;
	padding-left: 20px;
	float: right;	
}
.view-documentos .views-row .views-field-field-documento .descargar-archivo-boton a{
	display: block;
	height: 31px;
	float: right;
	margin-top: -25px;
	padding: 0px 15px;
	background-color: #6D6E71;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 31px;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 30px;
	background-image: url('../images/icon_descargar.png');
	background-repeat: no-repeat;
	background-position: 90% 50%;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 	
}
.view-documentos .views-row .views-field-field-documento .descargar-archivo-boton a:hover{
	background-position: 90% 300%;

}

/**************/


/* REPUESTOS */

.view-content.ui-accordion{
	margin-bottom: 100px;
}

.view-content.ui-accordion h3{
	
	border-radius: 0px;
	border: none;
	background: none;

	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;		
	color: #414042;
	border-bottom: 1px solid #BE242A;
	margin-bottom: 10px;

	background-image: url('../images/acodeon_off.png');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;	
}

.view-content.ui-accordion h3:hover,
.view-content.ui-accordion h3.ui-state-active{
	background-image: url('../images/acodeon_on.png');
}
.view-content.ui-accordion h3.ui-state-active a,
.view-content.ui-accordion h3:hover a{
	color: #BE242A;
}

.view-content.ui-accordion h3 .ui-icon{
	display: none;
}
.view-content.ui-accordion h3 a{
	padding-left: 0px;
	padding-bottom: 7px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;	
}


.view-content.ui-accordion .ui-accordion-content{
	background: none;
	border: none;
	border-radius: 0px;
	padding-left: 0px;
	padding-right: 0px;

}

.view-content.ui-accordion .ui-accordion-content .views-row .views-field-view{
	width: 71%;
	padding-right: 50px;
	float: left;
}
.view-content.ui-accordion .ui-accordion-content .views-row .views-field-view .view-productos .views-row{
	border-bottom: 1px solid #CACCCD;
	padding-bottom: 2px;
	margin-bottom: 7px;
}
.view-content.ui-accordion .ui-accordion-content .views-row .views-field-view .view-productos .views-row span{
	color: #414042;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;	
}
.view-content.ui-accordion .ui-accordion-content .views-row .views-field-field-imagenes-cat-repuestos{
	width: 29%;
	float: left;
}
.view-content.ui-accordion .ui-accordion-content .views-row .views-field-field-imagenes-cat-repuestos img{
	float: right;
	margin: 0px 0px 15px 15px;
}
.view-content.ui-accordion .ui-accordion-content .views-row .views-field-field-imagenes-cat-repuestos img:nth-child(2n){
	margin-left: 0px;
}

/*************/

/* CINTILLO ROJO FOOTER*/

.below-content.cintillo-rojo{
	width: 100%;
	min-height: 170px;
	background-color: #BA272D;
	margin-top: 50px;
	display: table;
}
.below-content.cintillo-rojo .cintillo-izq{
	width: 80%;
	padding-right: 90px;
	padding-top: 40px;
	padding-bottom: 40px;
	display: table-cell;
	vertical-align: middle;
}
.below-content.cintillo-rojo .cintillo-izq .ctitulo1{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	color: #FFF;	
}
.below-content.cintillo-rojo .cintillo-izq .ctitulo2{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #FFF;
	margin-top: 10px;
}
.below-content.cintillo-rojo .cintillo-der{
	width: 20%;
	display: table-cell;
	vertical-align: middle;
}
.below-content.cintillo-rojo .cintillo-der a{
	display: block;
	width: 210px;
	height: 65px;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	font-weight: 700;
	text-align: center;
	line-height: 65px;
	text-transform: uppercase;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 40px;
	background-image: url('../images/icon_vermas.png');
	background-repeat: no-repeat;
	background-position: 92% 50%;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 		
}
.below-content.cintillo-rojo .cintillo-der a:hover{
	background-color: #FFF;
	color: #BA272D;
	background-position: 110% 50%;
}
/**************/


/* FOOTER */

.footer{
	width: 100%;
	height: 455px;
	background-color: #333333;
	padding-top: 40px;
}
.footer h2{
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-top:  0px;
}
.footer .block{
	display: inline-block;
	min-height: 400px;
	float: left;
	color: #ACACAC;
}
.footer .block a{
	color: #ACACAC;
}
.footer #block-menu-block-2{
	width:  25%;
}
.footer #block-menu-block-2 .menu li{
	margin-left: 0px; padding: 0px;
}
.footer #block-menu-block-2 .menu li a{
	color: #ACACAC;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease; 		
}
.footer #block-menu-block-2 .menu li a:hover{
	color: #BE242A;
}
.footer #block-views-distribuidores-block{
	width:  55%;
}
.footer #block-views-distribuidores-block .view-distribuidores{
	margin-top: 24px;
}
.footer #block-views-distribuidores-block .view-distribuidores .views-row{
	width: 96px;
	height: 96px;
	margin-right:  20px;
	margin-bottom: 15px;
	float: left;

}
.footer #block-block-2{
	width:  20%;
}
.footer #block-block-2 p{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	margin-top: 0px;	
}
.footer #block-block-2 p br{
	line-height: 36px;
}
.footer #block-block-2 a.fb_footer{
	display: block;
	width: 35px;
	height: 35px;
	overflow: hidden;
	background-image: url('../images/fb_footer.png');
	background-repeat: no-repeat;
	background-position: center;
	text-indent: 40px;
	float: left;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;	
}
.footer #block-block-2 a.fb_footer:hover{
	transform: translateY(-5px);
}
.footer #block-block-2 a.yt_footer{
	display: block;
	width: 35px;
	height: 35px;
	overflow: hidden;
	background-image: url('../images/yt_footer.png');
	background-repeat: no-repeat;
	background-position: center;
	text-indent: 40px;
	float: left;
	margin-left: 10px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;	
}
.footer #block-block-2 a.yt_footer:hover{
	transform: translateY(-5px);
}
/********************/



/* Añadido por Keylor Mora - Setiembre 2015 - Contacto */

.webform-client-form {
    margin-top: 38px;
    margin-bottom: 130px;
}

.webform-client-form label {
    color: #333333;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.webform-client-form label span{
    color: #BE242A;

}

.webform-component--label-espacios-obligatorios{
	color: #333333;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.webform-component--label-espacios-obligatorios span{
	color: #BE242A;
}

.webform-client-form input[type="text"],
.webform-client-form input[type="email"]{
	border: 1px solid #6D6E71;
	width: 100%;
	height: 27px;
	line-height: 27px;
	color: #444444;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: transparent;
    padding: 0 10px;
}

.webform-client-form input[type="file"]{
	color: #444444;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 10px 0;
}

.webform-client-form .webform-component-file .description{
	color: #444444;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.webform-client-form .webform-component-file  input[type="submit"]{
	background-color: #6d6e71;
    padding: 0 12px;
    text-align: left;
    width: 160px;
    background-image: url(../images/icon_subir.png);
    background-repeat: no-repeat;
    background-position: 94% center;
    -webkit-transition: all 500ms ease;
	transition: all 500ms ease; 	
}

.webform-client-form .webform-component-file  input[type="submit"]#edit-submitted-curriculum-vitae-remove-button{
	width: 80px;
    background-image: none;
    text-align: center;
}

.webform-client-form .webform-component-file .file {
	margin: 10px 0;
}

.webform-client-form .webform-component-file .file a{
	color: #444444;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.webform-client-form .webform-component-file  input[type="submit"]:hover{
	background-position: 94% -300%;
	margin-top: 0;
}

.webform-client-form input[type="text"].error, .webform-client-form input[type="email"].error{
    border: 2px solid red;
}

.webform-client-form textarea{
	border: 1px solid #6D6E71;
	width: 100%;
	height: 118px;
	min-width: 100%;
	min-height: 118px;
	max-width: 100%;
	max-height: 118px;
	line-height: 27px;
	color: #444444;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: transparent;
    padding: 0 10px;
}

.webform-client-form fieldset.captcha{
	padding: 0;
	border: none;
}

.webform-client-form fieldset.captcha legend{
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #414042;
    padding-bottom: 10px;
}


.webform-client-form fieldset.captcha .fieldset-description,
.webform-client-form fieldset.captcha .description{
	color: #333333;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.webform-client-form input[type="submit"]{
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #BE242A;
	color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 18px;
    float: right;
    -webkit-transition: all 500ms ease;
	transition: all 500ms ease; 
}

.webform-client-form input[type="submit"]:hover{
	margin-top: -3px;
}

.webform-confirmation p{
	font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #414042;
    padding-bottom: 10px;
}

.node-type-webform .links{
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #414042;
    font-style: italic;
    padding-bottom: 10px;
}

.webform-client-form .webform-component-radios{
	margin-bottom: 38px;
}

.webform-client-form h2{
	border: 0 none;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 40px;
    padding-bottom: 0;
}

.webform-client-form .webform-component-markup,
.webform-client-form .webform-component-markup p{
	margin-bottom: 0;
}

.webform-client-form .form-actions{
	margin: 0;
}

.menu-slider .menu-region .menu li.menu-mlid-218,
.footer #block-menu-block-2 .menu li.menu-mlid-218{
	display: none;
}
