/* CSS Document */
@media only screen and (max-width : 640px) {

#block-views-productos-taxonom-a-block-1 .view-content .views-row{
	width: 280px;
	margin: 0 auto;
	margin-right: 0%;
}


	.header #logo {
	    float: none;
	    -webkit-transition: all 500ms ease;
	    transition: all 500ms ease;
	    width: 300px;
	    margin: 15px auto;
	    display: block;
	    height: 70px;
	}

	.header #block-block-1 {
	    float: none;
	    width: 300px;
	    margin: 0 auto;
	}

	.header{
		height: auto;
		padding: 10px 0;
	}

	.tinynav{
		
	    background-color: transparent;
	    border: none;
	    color: #fff;
	    text-transform: uppercase;
	    background-image: url(../images/menu-movil-bg.png);
	    background-position: right center;
	    background-repeat: no-repeat;
	    width: 112%;
	    line-height: 34px;
	    height: 100%;
	    z-index: 0;
	    background-color: #4D4D4D;
	    background-image: url(../images/menu-movil-bg.png);
	    background-position: 88% center;
	    background-repeat: no-repeat;
	}

	.tinynav-wrapper{
		max-width: 300px;
	    width: 100%;
	    margin: 5px auto;
	    height: 34px;	    
	    overflow: hidden;
	    
	    z-index: 1;

	}

	.flex-caption {
	    position: relative;
    	width: 100%;
	}

	.flex-caption .caption {
	    height: 115px;
	    float: none;
	    margin: 0 auto;
	    width: 100%;
	    text-align: center;
	}

	.flex-caption .caption .caption-text {
	    font-size: 20px;
	    line-height: 22px;
	}

	.flex-caption .caption .caption-link a{
		width: 170px;
	    height: 30px;
	    line-height: 30px;
	}

	.flex-control-nav{
		bottom: 115px;
	}

	.flex-caption .caption .caption-link a{
		margin: 0 auto;
	    left: 0;
	    right: 0;
	}

	.flex-direction-nav{
		top: 36%;
	}

	#block-views-distribuidores-block{
		display: none;
	}

	#block-menu-block-2 h2{
		display: none;
	}

	.footer{
		padding-top: 20px;
	}

	.footer #block-menu-block-2 {
	    width: 90%;
	    text-align: center;
	    min-height: auto;
	    margin: 0 auto;
	    float: none;
	    clear: both;
	    display: block;
	}

	.footer #block-block-2 {
	    width: 90%;
	    min-height: auto;
	    text-align: center;
	    padding-top: 10px;
	    border-top: 1px solid #CCC;
	    margin: 10px auto 0;
	    float: none;
	    display: block;
	    clear: both;
	}

	.footer #block-menu-block-2 .menu li{
		text-align: center;
		list-style: none;
	}

	.footer{
		padding-bottom: 60px;
		height: auto;
	}

	.footer .block a {
	    color: #ACACAC;
	    float: none !important;
	    margin: 0 auto !important;
	    display: inline-block !important;
	}

	
}

@media only screen and (max-width : 400px) {
	.flex-caption .caption .caption-text {
	    font-size: 16px;
	    line-height: 18px;
	}


.view-bloques-sidebar.view-display-id-block_1 .views-row .bloque-sidebar-interno .bloque-sidebar-titulo a{
	font-size: 24px;
}
.view-bloques-sidebar.view-display-id-block_1 .views-row .bloque-sidebar-interno .bloque-sidebar-titulo a p{
	line-height: 26px;
}
.main h1#page-title{
	font-size: 26px;
}
.main h2{
	font-size: 20px;
}
.below-content.cintillo-rojo .cintillo-izq .ctitulo2{
	font-size: 15px;
	line-height: 17px;
}
.below-content.cintillo-rojo .cintillo-izq .ctitulo1{
	font-size: 20px;
	line-height: 24px;
}
#block-views-productos-taxonom-a-block-1 .view-header h2{
	line-height: 25px;
}
.below-content.cintillo-rojo{
	margin-top: 0px;
}
body #sidebar-second{
	width: 100%;
}
.view-bloques-sidebar .views-row{
	width: 100%;
	height: auto;
}
.view-bloques-sidebar .views-row .views-field-field-image img{
	width: 100%;
}
.view-bloques-sidebar .views-row .bloque-sidebar-home a{
	font-size: 25px;
}

}