/*
  =BASE
--------------------------------------------- */
html {
  
}
body {
  padding: 0;
}
/*
  =LAYOUT
--------------------------------------------- */

/*.header .grid,
.above-content,
.grid-1000,
.below-content
.footer */

.grid-1000,
.main-content{
  width: 1000px;	
  max-width: 1000px;
  float: none;
  margin: 0 auto !important;
  overflow: hidden;
}

body .main {
  width: 62%;
  padding: 0 0.875em;
}
body #sidebar-second {
  width: 38%;
  padding: 0 0.875em;
}
body .main {
  float: left;
}
body #sidebar-second {
  float: right;
}

/*.main .title {
  width: 1000px;
}*/