/*
  =BASE
--------------------------------------------- */
html {
  
}
body {
  padding: 0;
}
/*
  =LAYOUT
--------------------------------------------- */
.header {
  
}
.header .grid,
/*.main-content,*/
.above-content,
.grid-1000,
.below-content
/*.footer */{
  width: 62.5em;	
  max-width: 62.500em;
  float: none;
  margin: 0 auto !important;
  overflow: hidden;
}

.one-sidebar .main {
  width: 60%;
  padding: 0 0.875em;
}
.one-sidebar #sidebar-first {
  width: 40%;
  padding: 0 0.875em;
}
.sidebar-first .main {
  float: left;
}
.sidebar-first #sidebar-first {
  float: right;
}

.main .title {
  width: 1000px;
}

/* Ajustar estilo del layout "cuatro filas" */
.panels-flexible-cuatro_filas .panels-flexible-row .inside .panels-flexible-region {
  float: none;
}

