/* CSS Document */
@media only screen and (max-width : 1000px) {

.view-imagen-top .views-row .views-field-field-imagen-top{
	height: auto;
	margin-bottom: 15px;
}	
body .main{
	width: 60%;
}
body #sidebar-second{
	width: 40%;
}
#block-views-productos-taxonom-a-block-1 .view-content .views-row{
	width: 45%;
	margin-right: 5%;
}
#block-views-productos-taxonom-a-block-1 .view-content .views-row:nth-child(2n){
	margin-right: 0%;
}

	.grid-1000, .main-content{
		width: 100%;
		padding: 0 2%;
	}
	.menu-slider .menu-region .menu li{
		margin-right: 9px;
	}
	.menu-slider .menu-region .menu li a{
		padding: 0px;
	}

	.flex-caption .caption .caption-text{
		font-size: 28px;
		line-height: 30px;
	}

	.flex-caption .caption{
		height: 205px;
		margin: 0 auto;
		text-align: center;
	}

	.flex-caption{
		top: 24%;
	}

	.flex-direction-nav{
		width: 98%;
	}

	.flex-caption .caption .caption-link a{
		margin: 0 auto;
		left: 0;
		right: 0;
	}


}

@media only screen and (max-width : 800px) {

.menu-slider .menu-region{
	position: static;
}
.above-content{
	display: none;
}
.below-content.cintillo-rojo{
	padding-bottom: 30px;
}
.below-content.cintillo-rojo .cintillo-izq,
.below-content.cintillo-rojo .cintillo-der{
	display: block;
	width: 100%;
	padding-right: 0px;
	text-align: center;
}
.below-content.cintillo-rojo .cintillo-der a{
	margin: 0 auto;
}
#block-views-productos-taxonom-a-block-1 .view-content{
	text-align: center;
}
#block-views-productos-taxonom-a-block-1 .view-content .views-row{
	float: none;
	display: inline-block;
}	

body #sidebar-second,
body .main{
	width: 100%;
}
body .main{
	clear: both;
	float: none;
}
body #sidebar-second{
	width: 350px;
	padding: 0px;
	margin: 0 auto;
	float: none;
	margin-top: 50px;
}

	.flex-caption {
	    top: 24%;
	    width: 80%;
	}

	.flex-caption .caption .caption-text{
		font-size: 24px;
		line-height: 26px;
	}

	.flex-caption .caption .caption-link a{
		width: 170px;
	    height: 30px;
	    line-height: 30px;
	}

	.flex-caption .caption{
		height: 160px;
	}

	.tinynav{
		
	    background-color: transparent;
	    border: none;
	    color: #fff;
	    text-transform: uppercase;
	    background-image: url(../images/menu-movil-bg.png);
	    background-position: right center;
	    background-repeat: no-repeat;
	    width: 112%;
	    line-height: 34px;
	    height: 100%;
	    z-index: 0;
	    background-color: #4D4D4D;
	    background-image: url(../images/menu-movil-bg.png);
	    background-position: 516px center;
	    background-repeat: no-repeat;
	    border-radius: 2px;
	}

	.tinynav-wrapper{
		max-width: 550px;
	    width: 100%;
	    margin: 5px auto;
	    height: 34px;	    
	    overflow: hidden;
	    
	    z-index: 1;

	}

	.menu-slider .menu-region{
		top: -1px;
		background-color: #000;
	}

	.header #logo {
	    float: none;
	    -webkit-transition: all 500ms ease;
	    transition: all 500ms ease;
	    width: 300px;
	    margin: 15px auto;
	    display: block;
	    height: 70px;
	}

	.header #block-block-1 {
	    float: none;
	    width: 300px;
	    margin: 0 auto;
	}

	.header{
		height: auto;
		padding: 10px 0;
	}

	.footer #block-views-distribuidores-block .view-distribuidores .views-row{
		margin-right: 10px;
		margin-bottom: 10px;
		width: 86px;
	}

	.footer #block-views-distribuidores-block{
		width: 50%;
	}

	.footer #block-block-2{
		width: 25%;
	}

}